// ej-spacing-xs-30 : xs 이상에서 칼럼의 여백을 30px로 둔다.
// ej-md-1-4 : md 이상에서 100% 기준으로 1/4 사용하겠다.
// ej-xs-1-8 : xs 이상에서 100% 기준으로 1/8 사용하겠다.
// ej-hidden-below-500 : 500 미만의 세계에서는 숨긴다.
// ej-hidden-below-xs : xs 이하의 세계에서는 숨긴다.
// ej-clear-both-below-md : md 이하의 세계 에서 clear both 를 건다.
// ej-ratio-100-50 : 너비 100% 높이 50% 비율을 가진다.
// ej-ratio-lg-100-100 : lg 이상에서 너비 100% 높이 100% 비율을 가진다.
// ej-ratio-avobe-400-100-100 : 화면크기 400 이상에서 너비 100% 높이 100% 비율을 가진다.

@import "https://sj.oa.gg/lib/ej_v2.css";

body div.ej-row {
  color: white;
}

// 검증코드
div.ej-row > div.ej-col::after {
  content: "";
  display: block;
  height: 100px;
  background-color: black;
  margin-bottom: 10px;
}

div.ej-row:nth-child(1) > div.ej-col::after {
  content: "여백이 시사각각 바뀝니다.";
}

div.ej-row:nth-child(2) > div.ej-col::after {
  content: "여백이 시사각각 바뀝니다.";
}

div.ej-row:nth-child(3) > div.ej-col::after {
  content: "이 줄만 여백이 특이하게 바뀝니다.";
}

div.ej-row:nth-child(4) > div.ej-col::after {
  content: "이 줄은 특정 상황에서 줄바꿈 됩니다.";
}

div.ej-row:nth-child(5) > div.ej-col::after {
  content: "1/6 => 1/4 => 1/2 => 1/1";
}

div.ej-row:last-child > div.ej-col::after {
  display: none;
}
