/* Normalize */
nav,
ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
a {
  color: inherit;
  text-decoration: inherit;
}
/* Normalize */
ul li {
  display: inline-block;
  background-color: gold;
}

ul {
  background-color: blue;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
}

nav {
  text-align: center;
}
